header {
    text-align: center;      /* centraliza o conteúdo do header */
    margin-bottom: 20px;     /* espaçamento abaixo do header */
}

.formulario {
    width: 400px;       /* largura do formulário */
    padding: 20px;      /* espaço interno ao redor dos campos */
    margin: auto;       /* centraliza o formulário */
}