table {
    width: 100%;
    border: 1px solid #000;
}

th, td {
    border: 1px solid #000;
    text-align: center;
}

th {
    background-color: #e3bbd6;
}

.media-linha {
    font-weight: bold;
    background-color: #e0e0e0;
}
.media-coluna {
    font-weight: bold;
    background-color: #d0f0c0;
}